@using Radzen
@inherits Card_razor
   <div onclick="@flipCard" >
   <RadzenCard Class="cardPadding" Style="max-width: 210px; max-height: 420px; min-width: 210px; min-height: 320px;" Variant="Variant.Filled">
 
       @if (!CardValue.state && CardValue.enabled)
       {
           <RadzenImage Style="max-width: 200px; max-height: 410px" Path="Images/PlayingCard.png"/>
       }
       else if (CardValue.state && CardValue.enabled)
       {
           <p>@CardValue.value</p>
       }
       else
       {
           <p>@CardValue.value</p>
           <p>solved</p>
       }
 
   </RadzenCard>
      </div>


@code {
    
}